@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap');

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300;
}
.btn {
	@apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition;
  }


html,body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.custom-select {
	background-color: #16a34a; /* Green */
	color: white;
	border: none;
  }
  
  /* This targets the dropdown options */
  .custom-select option {
	background-color: #16a34a !important; /* Green */
	color: white !important;
  }
  
  /* Remove the blue highlight on selection */
  .custom-select:focus {
	outline: none;
	box-shadow: none;
  }
  